@import "tailwindcss";

.nav-button {
    background-color: #2563eb;
    color: white;
    font-size: 1.3rem;
    white-space: nowrap;
    padding: 10px;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}

.nav-button:hover {
    background-color: #2564eb9c;
    transform: scale(1.1);
}

.nav-button:active {
    background-color: #2564eb0a;
    transform: scale(0.9);
}

.hero-sec {
    background-image: url("./assets/pc-repair.webp");
    background-repeat: no-repeat;
}
